.center-container__constructor.logos {
  height: 545px;
}

.constructor__logos {
  @include size(100%, 100%);
  display: none;
  pointer-events: none;
  position: absolute;

  &.active {
    display: block;
  }

  .logos__area {
    display: none;
    position: absolute;

    &.checked {
      @include flex(center, center, column);
    }

    div {
      display: none;

      &.checked {
        display: block;
      }
    }

    .logo__custom_logo {
      color: #000;
      font-size: 10px;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
    }

    .logo__custom_text {
      font-size: 10px;
      font-weight: 700;
      line-height: 10px;
      max-height: 100%;
      overflow: hidden;
      overflow-wrap: anywhere;
      padding: 0 5px;
      text-align: center;
      text-transform: uppercase;
    }
  }

  &.isometric {
    .logos__area {
      &[data-logo="left-side"] {
        @include size(92px, 60px);
        bottom: 100px;
        left: 82px;
        transform: rotate(82deg);

        svg {
          @include size(120%, 120%);
        }
      }

      &[data-logo="central-detail"] {
        @include size(48px, 86px);
        left: 208px;
        top: 142px;
        transform: rotate(-16deg);

        svg {
          @include size(120%, 120%);
        }

        .logo__custom_logo,
        .logo__custom_text {
          padding-right: 10px;
          transform: rotate(-10deg);
        }
      }
    }
  }

  &.front {
    .logos__area {
      &[data-logo="central-detail"] {
        @include size(62px, 113px);
        left: 49%;
        top: 176px;
        transform: translateX(-50%);

        svg {
          @include size(120%, 120%);
        }
      }
    }
  }

  &.back {
    .logos__area {
      .logo__custom_logo,
      .logo__custom_text {
        font-size: 7px;
      }

      &[data-logo="rc-right"] {
        @include size(32px, 39px);
        left: 50px;
        top: 76px;

        svg {
          @include size(110%, 110%);
          padding-right: 2px;
        }
      }

      &[data-logo="rc-left"] {
        @include size(32px, 39px);
        left: 186px;
        top: 76px;

        svg {
          @include size(110%, 110%);
        }
      }
    }
  }

  &.side {
    .logos__area {
      &[data-logo="left-side"] {
        @include size(150px, 67px);
        bottom: 58px;
        left: 17px;
        transform: rotate(-91deg);

        svg {
          @include size(120%, 120%);
        }
      }

      &[data-logo="right-side"] {
        display: none;
      }
    }
  }
}

.constructor__item.logos {
  .schema__element.logo-area {
    stroke: #4dfbc6;
    stroke-width: 2px;
  }

  .constructor__schema.side {
    flex-direction: column;

    .constructor__schema--img {
      .hidden {
        display: none;
      }
    }

    .constructor__schema--img.left {
      .logos__area[data-logo="right-side"] {
        display: none;
      }
    }

    .constructor__schema--img.right {
      transform: scaleX(-1);

      .logos__area[data-logo="left-side"] {
        display: none;
      }

      .logos__area[data-logo="right-side"] {
        @include size(150px, 67px);
        bottom: 58px;
        display: flex;
        left: 17px;
        transform: rotate(-91deg) scaleX(-1);

        svg {
          @include size(120%, 120%);
        }
      }
    }

    .constructor__rotate {
      background: #526a83;
      border-radius: 4px;
      box-shadow: 0 4px 12px rgb(42 59 76 / 50%);
      display: flex;
      justify-content: space-between;
      margin: 20px auto 0;
      overflow: hidden;
      width: 65px;

      button {
        @include flex;
        background: #9ab7cd;
        border: 0;
        color: #1b4c70;
        height: 24px;
        padding: 0;
        width: calc(50% - 0.5px);

        &.right {
          i {
            transform: scaleX(-1);
          }
        }

        &.disabled {
          opacity: 0.5;
          pointer-events: none;
        }
      }
    }
  }
}
