.center-container {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  width: calc(100% - 526px);
}

.center-container__constructor {
  background: $container-color;
  border-radius: 4px;
  box-shadow: 0 12px 16px rgba(42, 59, 76, 0.5);
  grid-area: constructor;
  height: 496px;
  margin-top: 40px;
  overflow: hidden;

  .constructor__item {
    display: none;
    grid-template-areas: "position schema panel";
    grid-template-columns: 64px 1fr 168px;
    padding: 32px 16px 32px 38px;

    &.active {
      display: grid;
    }

    .constructor__position {
      grid-area: position;
      position: relative;
      z-index: 2;

      .position__tabs-list {
        @include flex(flex-start, center, column);
        width: 100%;
      }

      .tabs-list__position-item {
        @include flex(center, flex-end);
        border: 2px solid rgba(255, 255, 255, 0.25);
        border-radius: 4px;
        box-shadow: 0 4px 12px rgba(42, 59, 76, 0.5);
        color: $bg-color;
        font-size: 10px;
        font-weight: 500;
        height: 96px;
        opacity: 0.5;
        padding: 0 0 4px;
        position: relative;
        transition: all 0.5s linear;
        width: 100%;

        &:hover,
        &.active {
          opacity: 1;
        }

        &:not(:last-child) {
          margin-bottom: 32px;
        }

        &::before {
          height: 56px;
          left: 0;
          padding: 7px 0;
          position: absolute;
          top: 0;
          width: 100%;
        }

        &.isometric::before {
          background: url("./images/isometric-small.svg") no-repeat center,
            $container-color;
          content: "";
        }

        &.front::before {
          background: url("./images/front-small.svg") no-repeat center,
            $container-color;
          content: "";
        }

        &.back::before {
          background: url("./images/back-small.svg") no-repeat center,
            $container-color;
          content: "";
        }

        &.side::before {
          background: url("./images/side-small.svg") no-repeat center,
            $container-color;
          content: "";
        }
      }
    }

    .constructor__schema {
      display: none;
      grid-area: schema;
      position: relative;

      &.active {
        @include flex;
      }

      &--img {
        @include flex;
        position: relative;
      }

      &--info {
        @include size(100%, 100%);
        left: 0;
        pointer-events: none;
        position: absolute;
        top: 0;

        .info-item {
          @include flex;
          @include size(20px, 20px);
          background: #526a83;
          border: 2px solid #fff;
          border-radius: 50%;
          box-shadow: 0 4px 8px rgb(42 59 76 / 50%);
          color: #fff;
          font-size: 9px;
          font-weight: 700;
          position: absolute;
        }
      }
    }

    .constructor__panel {
      display: none;
      flex-wrap: wrap;
      grid-area: panel;

      &.active {
        @include flex(center, flex-start);
      }

      .panel__schematics {
        background: #9ab7cd;
        border-radius: 4px;
        box-shadow: 0 4px 12px rgba(42, 59, 76, 0.5);
        color: #263c52;
        overflow: hidden;
        width: 100%;

        .schematics__title {
          @include flex(flex-start);
          background: #597e9b;
          color: rgba(255, 255, 255, 0.5);
          cursor: pointer;
          font-size: 12px;
          font-weight: 500;
          height: 32px;
          letter-spacing: 0.1em;
          padding: 0 16px;
          position: relative;
          text-transform: uppercase;
          transition: 0.2s;

          &::before {
            @include absolute-center;
            background: rgba(255, 255, 255, 0.25);
            border-radius: 8px;
            content: "";
            height: 8px;
            right: 16px;
            transition: 0.2s;
            width: 20px;
          }

          &::after {
            @include absolute-center;
            background: #192837;
            border-radius: 50%;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24),
              0 0 2px rgba(0, 0, 0, 0.12);
            content: "";
            height: 12px;
            right: 26px;
            transition: 0.2s;
            width: 12px;
          }

          &.active {
            background: #7d8fa2;
            color: rgba(18, 51, 75, 0.5);

            &::before {
              background: #4caf50;
            }

            &::after {
              right: 14px;
            }
          }
        }

        .schematics__list {
          max-height: 368px;
          overflow: hidden;
          overflow-y: auto;
          padding: 16px 7px;

          .schematics__list-item:not(:last-child) {
            margin-bottom: 16px;
          }

          .schematics__list-item:not(.disabled) {
            cursor: pointer;
          }

          .schematics__list-item {
            display: flex;

            .list-item__num {
              @include flex;
              border: 1px solid #33506d;
              border-radius: 50%;
              color: #33506d;
              font-size: 9px;
              font-weight: 700;
              height: 16px;
              padding-top: 1px;
              width: 16px;
            }

            .list-item__name {
              color: #263c52;
              font-size: 12px;
              line-height: 16px;
              padding-left: 10px;
            }

            &:hover {
              .list-item__num {
                background: #526a83;
                border-color: #526a83;
                color: #fff;
              }

              .list-item__name {
                color: #526a83;
                font-weight: 500;
              }
            }
          }

          .schematics__split-switch {
            @include flex(space-between);

            .list-item__name {
              font-size: 10px;
              padding-left: 2px;
            }

            .schematics__list-item {
              margin-bottom: 16px;
            }
          }
        }
      }

      .panel__split-switch {
        margin-top: 10px;

        .split-switch__button {
          background: #246595;
          border: 0;
          border-radius: 4px;
          box-shadow: 0 2px 8px rgba(42, 59, 76, 0.5);
          color: rgba(255, 255, 255, 0.75);
          font-size: 10px;
          font-weight: 500;
          height: 28px;
          letter-spacing: 0.1em;
          margin-bottom: 10px;
          padding: 0 5px;
          position: relative;
          text-align: left;
          text-transform: uppercase;
          width: 100%;

          &::before {
            @include absolute-center;
            background: rgba(255, 255, 255, 0.25);
            border-radius: 8px;
            content: "";
            height: 8px;
            right: 6px;
            transition: 0.2s;
            width: 20px;
          }

          &::after {
            @include absolute-center;
            background: #192837;
            border-radius: 50%;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24),
              0 0 2px rgba(0, 0, 0, 0.12);
            content: "";
            height: 12px;
            right: 14px;
            transition: 0.2s;
            width: 12px;
          }

          &.active {
            &::before {
              background: #4caf50;
            }

            &::after {
              right: 6px;
            }
          }

          &--num {
            border: 1px solid rgba(255, 255, 255, 0.75);
            border-radius: 50%;
            color: rgba(255, 255, 255, 0.75);
            display: inline-block;
            font-size: 10px;
            font-weight: 500;
            height: 16px;
            margin-right: 5px;
            padding-top: 1px;
            text-align: center;
            width: 16px;
          }

          &--name::after {
            content: " ($)";
          }
        }

        .split-switch__tip {
          @include flex(space-between);
          font-size: 11px;
          width: 100%;

          *:last-child {
            margin-left: 5px;
          }
        }
      }
    }
  }
}

.center-container__buttons-panel {
  display: flex;
  grid-area: buttons;
  justify-content: space-between;
  position: relative;

  .buttons-panel__main-buttons {
    display: flex;

    button {
      @include flex(space-between);
      background: $button-color;
      border: 0;
      border-radius: 4px;
      box-shadow: 0 4px 12px rgba(42, 59, 76, 0.5);
      font-size: 12px;
      font-weight: 500;
      height: 48px;
      letter-spacing: 0.1em;
      padding: 0 16px;
      position: relative;
      text-align: left;
      text-transform: uppercase;
      width: 184px;

      &:hover {
        @include button-hover;
      }
    }

    button:not(:last-child) {
      margin-right: 16px;
    }

    .main-buttons__preview {
      &::after {
        @include font-awesome(20px);
        content: "\f108";
      }
    }

    .main-buttons__save {
      &::after {
        @include font-awesome(22px);
        content: "\f0c7";
      }
    }
  }

  .buttons-panel__navigation-buttons {
    display: flex;

    button {
      background: #4caf50;
      border: 0;
      border-radius: 4px;
      box-shadow: 0 4px 12px rgba(42, 59, 76, 0.5);
      font-size: 12px;
      font-weight: 500;
      height: 48px;
      letter-spacing: 0.1em;
      min-width: 146px;
      padding: 0 60px 0 16px;
      position: relative;
      text-align: left;
      text-transform: uppercase;

      &::after {
        background: url("./images/arrow-right.svg") center no-repeat;
        background-size: cover;
        content: "";
        height: 8px;
        opacity: 0.5;
        position: absolute;
        right: 16px;
        top: calc(50% - 4px);
        width: 27px;
      }

      &:hover {
        background: #39833c;
        color: rgba(255, 255, 255, 0.75);
      }
    }

    .navigation-buttons__back {
      margin-right: 16px;
      padding: 0 16px 0 60px;
      text-align: right;

      &::after {
        left: 15px;
        right: auto;
        transform: rotate(180deg);
      }
    }

    .navigation-buttons__preview {
      &--hidden {
        display: none;
      }
    }
  }
}

.constructor__item.container {
  .tabs-list__position-item:not(:last-child) {
    margin-bottom: 16px !important;
  }
}

.center-container__constructor .constructor__item.information.active,
.center-container__constructor .constructor__item.sizes.active,
.center-container__constructor .constructor__item.options.active {
  @include flex;
  padding: 0;

  .info-wrapper,
  .sizes-wrapper,
  .options-wrapper {
    width: 100%;
  }

  .constructor__title {
    @include flex(space-between);
    background: rgba(38, 60, 82, 0.4);
    font-size: 12px;
    font-weight: 700;
    height: 48px;
    letter-spacing: 0.1em;
    padding: 0 24px;
    position: relative;
    text-transform: uppercase;
    width: 100%;
  }
}

.data-row__input {
  background: #ccd3db;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgb(42 59 76 / 50%);
  color: #263c52;
  display: block;
  height: 32px;
  outline: none;
  padding: 0 24px;
  width: 100%;
}

.center-container__constructor .constructor__item.information {
  .constructor__data-wrapper {
    font-size: 12px;
    line-height: 14px;
    padding: 32px 24px;

    .constructor__data-block {
      .data-row__title {
        font-weight: 500;
        min-width: 175px;
        text-transform: uppercase;
      }

      &.dealer_information {
        @include flex(space-between, center);
        margin-bottom: 34px;
        width: 100%;

        .data-row__input[data-val="dealer"] {
          pointer-events: none;
        }

        button:hover {
          background: #12334b;
          color: rgba(255, 255, 255, 0.75);
        }

        button {
          @include flex;
          background: #1b4c70;
          border: 0;
          border-radius: 4px;
          box-shadow: 0 4px 12px rgb(42 59 76 / 50%);
          font-size: 11px;
          font-weight: 500;
          height: 32px;
          margin: 0 10px;
          padding: 0 10px;
          position: relative;
          text-align: left;
          text-transform: uppercase;
          white-space: nowrap;
        }
      }

      &.customer_information {
        display: grid;
        grid-gap: 0 60px;
        grid-template-columns: 0.8fr 1fr;

        .data-row__title {
          grid-column: span 2;
        }

        .constructor__data-row {
          align-items: center;
          display: grid;
          grid-column: span 2;
          grid-template-columns: 175px 1fr;
          margin: 16px 0;
        }

        .constructor__data-row:last-child {
          grid-column: 2;
        }

        .constructor__data-row:nth-last-child(2) {
          grid-column: 1;
        }
      }
    }
  }
}

.center-container__constructor .constructor__item.sizes {
  .constructor__data-wrapper {
    font-size: 12px;
    line-height: 14px;
    padding: 32px 24px;
  }

  .constructor__data-block {
    display: grid;
    grid-gap: 0 60px;
    grid-template-columns: 1fr 1fr;
    width: 100%;

    .data-row__title {
      font-weight: 500;
      text-transform: uppercase;
    }

    .constructor__data-row {
      align-items: center;
      display: grid;
      grid-template-columns: 70px 1fr;
      margin-bottom: 22px;
    }

    &.no-title {
      .constructor__data-row {
        &:nth-last-child(2),
        &:nth-last-child(1) {
          grid-template-columns: 120px 1fr;
        }
      }
    }

    .constructor__data-row-checks {
      align-items: center;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 100%;

      &[data-val="measurement_units"] {
        grid-template-columns: repeat(2, 1fr);
        justify-items: end;
        width: 90%;
      }
    }

    .data-row__label {
      white-space: nowrap;
    }

    &.customer-measurements {
      margin-bottom: 32px;

      .constructor__data-row-checks {
        grid-template-columns: repeat(2, 1fr);
      }

      .constructor__data-row {
        grid-template-columns: 70px 1fr;
      }
    }
  }
}

.constructor__data-row-checks {
  .data-row__radio {
    display: none;

    &:checked + label::after {
      opacity: 1;
    }
  }

  .data-row__label {
    @include flex(flex-start);
    cursor: pointer;
    font-size: 10px;
    min-height: 16px;
    padding: 0 0 0 28px;
    position: relative;

    &::before {
      background: #ccd3db;
      border: 2px solid #436683;
      border-radius: 4px;
      box-shadow: 0 4px 12px rgb(42 59 76 / 50%);
      box-sizing: border-box;
      height: 16px;
      left: 0;
      width: 16px;
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: 0.2s;
    }

    &::after {
      background: #7d8fa2;
      border-radius: 50%;
      height: 8px;
      left: 4px;
      opacity: 0;
      width: 8px;
    }
  }
}
