$white: #fff !important;
$black: #000 !important;
$dark-grey: #565656 !important;
$silver: #b5b5b5 !important;
$navy-blue: #1a237e !important;
$royal-blue: #0d47a1 !important;
$light-blue: #0091ea !important;
$red: #d82601 !important;
$orange: #ff6101 !important;
$yellow: #ffe603 !important;
$gold: #ffc324 !important;
$green: #388e3c !important;
$pink: #ff4081 !important;
$bardo: #b72f0f !important;
$brown: #624339 !important;
$purple: #7b1fa2 !important;
$neon-pink: #ff1744 !important;
$neon-yellow: #ffff03 !important;
$neon-orange: #ffa902 !important;
$neon-green: #6bff06 !important;

.constructor__schema--img .schema__element,
.schema__element path {
  &[data-color="wht"] {
    fill: $white;
  }

  &[data-color="blk"] {
    fill: $black;
  }

  &[data-color="dg"] {
    fill: $dark-grey;
  }

  &[data-color="sil"] {
    fill: $silver;
  }

  &[data-color="nbl"] {
    fill: $navy-blue;
  }

  &[data-color="rbl"] {
    fill: $royal-blue;
  }

  &[data-color="lbl"] {
    fill: $light-blue;
  }

  &[data-color="red"] {
    fill: $red;
  }

  &[data-color="org"] {
    fill: $orange;
  }

  &[data-color="yel"] {
    fill: $yellow;
  }

  &[data-color="gld"] {
    fill: $gold;
  }

  &[data-color="grn"] {
    fill: $green;
  }

  &[data-color="pnk"] {
    fill: $pink;
  }

  &[data-color="brd"] {
    fill: $bardo;
  }

  &[data-color="brn"] {
    fill: $brown;
  }

  &[data-color="prp"] {
    fill: $purple;
  }

  &[data-color="neonPnk"] {
    fill: $neon-pink;
  }

  &[data-color="neonYel"] {
    fill: $neon-yellow;
  }

  &[data-color="neonOrg"] {
    fill: $neon-orange;
  }

  &[data-color="neonGrn"] {
    fill: $neon-green;
  }
}

[data-id="pinstripes"] {
  .schema__element {
    &[data-color="wht"] {
      fill: none !important;
      stroke: $white;
      stroke-width: 2px;
    }

    &[data-color="blk"] {
      fill: none !important;
      stroke: $black;
      stroke-width: 2px;
    }

    &[data-color="dg"] {
      fill: none !important;
      stroke: $dark-grey;
      stroke-width: 2px;
    }

    &[data-color="sil"] {
      fill: none !important;
      stroke: $silver;
      stroke-width: 2px;
    }

    &[data-color="nbl"] {
      fill: none !important;
      stroke: $navy-blue;
      stroke-width: 2px;
    }

    &[data-color="rbl"] {
      fill: none !important;
      stroke: $royal-blue;
      stroke-width: 2px;
    }

    &[data-color="lbl"] {
      fill: none !important;
      stroke: $light-blue;
      stroke-width: 2px;
    }

    &[data-color="red"] {
      fill: none !important;
      stroke: $red;
      stroke-width: 2px;
    }

    &[data-color="org"] {
      fill: none !important;
      stroke: $orange;
      stroke-width: 2px;
    }

    &[data-color="yel"] {
      fill: none !important;
      stroke: $yellow;
      stroke-width: 2px;
    }

    &[data-color="gld"] {
      fill: none !important;
      stroke: $gold;
      stroke-width: 2px;
    }

    &[data-color="grn"] {
      fill: none !important;
      stroke: $green;
      stroke-width: 2px;
    }

    &[data-color="pnk"] {
      fill: none !important;
      stroke: $pink;
      stroke-width: 2px;
    }

    &[data-color="brd"] {
      fill: none !important;
      stroke: $bardo;
      stroke-width: 2px;
    }

    &[data-color="brn"] {
      fill: none !important;
      stroke: $brown;
      stroke-width: 2px;
    }

    &[data-color="prp"] {
      fill: none !important;
      stroke: $purple;
      stroke-width: 2px;
    }

    &[data-color="neonPnk"] {
      fill: none !important;
      stroke: $neon-pink;
      stroke-width: 2px;
    }

    &[data-color="neonYel"] {
      fill: none !important;
      stroke: $neon-yellow;
      stroke-width: 2px;
    }

    &[data-color="neonOrg"] {
      fill: none !important;
      stroke: $neon-orange;
      stroke-width: 2px;
    }

    &[data-color="neonGrn"] {
      fill: none !important;
      stroke: $neon-green;
      stroke-width: 2px;
    }

    &[data-color="def"] {
      display: none;
    }
  }
}

.schema__isometric {
  .schema__element {
    &[data-color="CamoW"] {
      fill: url("#camow-isometric") !important;
    }

    &[data-color="CamoD"] {
      fill: url("#camod-isometric") !important;
    }

    &[data-color="Multicam"] {
      fill: url("#multicam-isometric") !important;
    }

    &[data-color="MulticamBl"] {
      fill: url("#multicambl-isometric") !important;
    }
  }
}

.schema__front {
  .schema__element {
    &[data-color="CamoW"] {
      fill: url("#camow-front") !important;
    }

    &[data-color="CamoD"] {
      fill: url("#camod-front") !important;
    }

    &[data-color="Multicam"] {
      fill: url("#multicam-front") !important;
    }

    &[data-color="MulticamBl"] {
      fill: url("#multicambl-front") !important;
    }
  }
}

.schema__back {
  .schema__element {
    &[data-color="CamoW"] {
      fill: url("#camow-back") !important;
    }

    &[data-color="CamoD"] {
      fill: url("#camod-back") !important;
    }

    &[data-color="Multicam"] {
      fill: url("#multicam-back") !important;
    }

    &[data-color="MulticamBl"] {
      fill: url("#multicambl-back") !important;
    }
  }
}

.schema__side {
  .schema__element {
    &[data-color="CamoW"] {
      fill: url("#camow-side") !important;
    }

    &[data-color="CamoD"] {
      fill: url("#camod-side") !important;
    }

    &[data-color="Multicam"] {
      fill: url("#multicam-side") !important;
    }

    &[data-color="MulticamBl"] {
      fill: url("#multicambl-side") !important;
    }
  }
}

.constructor__item.harness {
  .schema__back {
    .schema__element {
      &[data-color="CamoW"] {
        fill: url("#camow-back-harness") !important;
      }

      &[data-color="CamoD"] {
        fill: url("#camod-back-harness") !important;
      }

      &[data-color="Multicam"] {
        fill: url("#multicam-back-harness") !important;
      }

      &[data-color="MulticamBl"] {
        fill: url("#multicambl-back-harness") !important;
      }
    }
  }
}

.constructor__item.binding_pinstripes {
  .schema__front {
    .schema__element {
      &[data-color="CamoW"] {
        fill: url("#camow-front-binding_pinstripes") !important;
      }

      &[data-color="CamoD"] {
        fill: url("#camod-front-binding_pinstripes") !important;
      }

      &[data-color="Multicam"] {
        fill: url("#multicam-front-binding_pinstripes") !important;
      }

      &[data-color="MulticamBl"] {
        fill: url("#multicambl-front-binding_pinstripes") !important;
      }
    }
  }

  .schema__back {
    .schema__element {
      &[data-color="CamoW"] {
        fill: url("#camow-back-binding_pinstripes") !important;
      }

      &[data-color="CamoD"] {
        fill: url("#camod-back-binding_pinstripes") !important;
      }

      &[data-color="Multicam"] {
        fill: url("#multicam-back-binding_pinstripes") !important;
      }

      &[data-color="MulticamBl"] {
        fill: url("#multicambl-back-binding_pinstripes") !important;
      }
    }
  }
}

.constructor__item.logos {
  .schema__front {
    .schema__element {
      &[data-color="CamoW"] {
        fill: url("#camow-front-logos") !important;
      }

      &[data-color="CamoD"] {
        fill: url("#camod-front-logos") !important;
      }

      &[data-color="Multicam"] {
        fill: url("#multicam-front-logos") !important;
      }

      &[data-color="MulticamBl"] {
        fill: url("#multicambl-front-logos") !important;
      }
    }
  }

  .schema__back {
    .schema__element {
      &[data-color="CamoW"] {
        fill: url("#camow-back-logos") !important;
      }

      &[data-color="CamoD"] {
        fill: url("#camod-back-logos") !important;
      }

      &[data-color="Multicam"] {
        fill: url("#multicam-back-logos") !important;
      }

      &[data-color="MulticamBl"] {
        fill: url("#multicambl-back-logos") !important;
      }
    }
  }

  .schema__side {
    .schema__element {
      &[data-color="CamoW"] {
        fill: url("#camow-side-logos") !important;
      }

      &[data-color="CamoD"] {
        fill: url("#camod-side-logos") !important;
      }

      &[data-color="Multicam"] {
        fill: url("#multicam-side-logos") !important;
      }

      &[data-color="MulticamBl"] {
        fill: url("#multicambl-side-logos") !important;
      }
    }
  }
}

.constructor__item.preview {
  .schema__front {
    .schema__element {
      &[data-color="CamoW"] {
        fill: url("#camow-front-preview") !important;
      }

      &[data-color="CamoD"] {
        fill: url("#camod-front-preview") !important;
      }

      &[data-color="Multicam"] {
        fill: url("#multicam-front-preview") !important;
      }

      &[data-color="MulticamBl"] {
        fill: url("#multicambl-front-preview") !important;
      }
    }
  }

  .schema__back {
    .schema__element {
      &[data-color="CamoW"] {
        fill: url("#camow-back-preview") !important;
      }

      &[data-color="CamoD"] {
        fill: url("#camod-back-preview") !important;
      }

      &[data-color="Multicam"] {
        fill: url("#multicam-back-preview") !important;
      }

      &[data-color="MulticamBl"] {
        fill: url("#multicambl-back-preview") !important;
      }
    }
  }
}

.constructor__logos {
  .logos__area {
    &[data-color="wht"] {
      div {
        color: $white;
      }

      path {
        fill: $white;
      }
    }

    &[data-color="blk"] {
      div {
        color: $black;
      }

      path {
        fill: $black;
      }
    }

    &[data-color="dg"] {
      div {
        color: $dark-grey;
      }

      path {
        fill: $dark-grey;
      }
    }

    &[data-color="sil"] {
      div {
        color: $silver;
      }

      path {
        fill: $silver;
      }
    }

    &[data-color="nbl"] {
      div {
        color: $navy-blue;
      }

      path {
        fill: $navy-blue;
      }
    }

    &[data-color="rbl"] {
      div {
        color: $royal-blue;
      }

      path {
        fill: $royal-blue;
      }
    }

    &[data-color="lbl"] {
      div {
        color: $light-blue;
      }

      path {
        fill: $light-blue;
      }
    }

    &[data-color="red"] {
      div {
        color: $red;
      }

      path {
        fill: $red;
      }
    }

    &[data-color="org"] {
      div {
        color: $orange;
      }

      path {
        fill: $orange;
      }
    }

    &[data-color="yel"] {
      div {
        color: $yellow;
      }

      path {
        fill: $yellow;
      }
    }

    &[data-color="gld"] {
      div {
        color: $gold;
      }

      path {
        fill: $gold;
      }
    }

    &[data-color="grn"] {
      div {
        color: $green;
      }

      path {
        fill: $green;
      }
    }

    &[data-color="pnk"] {
      div {
        color: $pink;
      }

      path {
        fill: $pink;
      }
    }

    &[data-color="brd"] {
      div {
        color: $bardo;
      }

      path {
        fill: $bardo;
      }
    }

    &[data-color="brn"] {
      div {
        color: $brown;
      }

      path {
        fill: $brown;
      }
    }

    &[data-color="prp"] {
      div {
        color: $purple;
      }

      path {
        fill: $purple;
      }
    }

    &[data-color="neonPnk"] {
      div {
        color: $neon-pink;
      }

      path {
        fill: $neon-pink;
      }
    }

    &[data-color="neonYel"] {
      div {
        color: $neon-yellow;
      }

      path {
        fill: $neon-yellow;
      }
    }

    &[data-color="neonOrg"] {
      div {
        color: $neon-orange;
      }

      path {
        fill: $neon-orange;
      }
    }

    &[data-color="neonGrn"] {
      div {
        color: $neon-green;
      }

      path {
        fill: $neon-green;
      }
    }
  }
}
