.constructor__schema {
  .info-item {
    &::before {
      background: #fff;
      content: "";
      height: 1px;
      position: absolute;
    }
  }

  &.isometric {
    .info-item {
      &[data-id="area-1"] {
        right: 6%;
        top: 7%;

        &::before {
          bottom: -13px;
          left: -68px;
          transform: rotate(-24deg);
          width: 65px;
        }
      }

      &[data-id="area-2"] {
        left: 15%;
        top: 60%;

        &::before {
          bottom: -19px;
          left: -96px;
          transform: rotate(-24deg);
          width: 93px;
        }
      }

      &[data-id="area-2a"] {
        left: 15%;
        top: 60%;

        &::before {
          bottom: 40px;
          left: 18px;
          transform: rotate(-24deg);
          width: 140px;
        }
      }

      &[data-id="area-2b"] {
        right: 0;
        top: 40%;

        &::before {
          bottom: -16px;
          left: -82px;
          transform: rotate(-24deg);
          width: 78px;
        }
      }

      &[data-id="area-2c"] {
        right: 0;
        top: 30%;

        &::before {
          bottom: -12px;
          left: -61px;
          transform: rotate(-24deg);
          width: 55px;
        }
      }

      &[data-id="area-3"] {
        right: 0;
        top: 55%;

        &::before {
          bottom: -10px;
          left: -63px;
          transform: rotate(-24deg);
          width: 57px;
        }
      }

      &[data-id="area-4"] {
        left: 10%;
        top: 80%;

        &::before {
          bottom: 40px;
          left: 18px;
          transform: rotate(-24deg);
          width: 140px;
        }
      }

      &[data-id="area-5"] {
        left: 10%;
        top: 40%;

        &::before {
          bottom: 24px;
          left: 20px;
          transform: rotate(-24deg);
          width: 58px;
        }
      }

      &[data-id="area-6"] {
        right: 10%;
        top: 10%;

        &::before {
          bottom: -19px;
          left: -96px;
          transform: rotate(-24deg);
          width: 93px;
        }
      }

      &[data-id="area-6d"] {
        left: 10%;
        top: 30%;

        &::before {
          bottom: 38px;
          left: 17px;
          transform: rotate(-24deg);
          width: 126px;
        }
      }

      &[data-id="area-6e"] {
        right: 5%;
        top: 18%;

        &::before {
          bottom: -19px;
          left: -96px;
          transform: rotate(-24deg);
          width: 93px;
        }
      }

      &[data-id="area-6f"] {
        right: 15%;
        top: 6%;

        &::before {
          bottom: -10px;
          left: -70px;
          transform: rotate(-24deg);
          width: 62px;
        }
      }

      &[data-id="area-7"] {
        left: 19%;
        top: 0;

        &::before {
          bottom: -11px;
          left: 18px;
          transform: rotate(26deg);
          width: 49px;
        }
      }

      &[data-id="area-8"] {
        left: 7%;
        top: 86%;

        &::before {
          bottom: 25px;
          left: 20px;
          transform: rotate(-24deg);
          width: 65px;
        }
      }

      &[data-id="area-9"] {
        left: 10%;
        top: 48%;

        &::before {
          bottom: 39px;
          left: 18px;
          transform: rotate(-24deg);
          width: 129px;
        }
      }
    }
  }

  &.back {
    .info-item {
      &[data-id="area-1"] {
        right: 5%;
        top: 23%;

        &::before {
          bottom: 7px;
          left: -84px;
          transform: rotate(0deg);
          width: 77px;
        }
      }

      &[data-id="area-2"] {
        right: 15%;
        top: 63%;

        &::before {
          bottom: 22px;
          left: -152px;
          transform: rotate(10deg);
          width: 146px;
        }
      }

      &[data-id="area-2a"] {
        left: 0;
        top: 55%;

        &::before {
          bottom: 8px;
          left: 23px;
          transform: rotate(0deg);
          width: 95px;
        }
      }

      &[data-id="area-2b"] {
        right: 0;
        top: 63%;

        &::before {
          bottom: 22px;
          left: -152px;
          transform: rotate(10deg);
          width: 146px;
        }
      }

      &[data-id="area-2c"] {
        right: 0;
        top: 46%;

        &::before {
          bottom: 7px;
          left: -119px;
          transform: rotate(0);
          width: 108px;
        }
      }

      &[data-id="area-3"] {
        right: 0;
        top: 80%;

        &::before {
          bottom: 21px;
          left: -143px;
          transform: rotate(10deg);
          width: 136px;
        }
      }

      &[data-id="area-4"] {
        left: 0;
        top: 80%;

        &::before {
          bottom: 26px;
          left: 18px;
          transform: rotate(-24deg);
          width: 78px;
        }
      }

      &[data-id="area-5"] {
        left: 5%;
        top: 20%;

        &::before {
          bottom: 7px;
          left: 23px;
          transform: rotate(0deg);
          width: 50px;
        }
      }

      &[data-id="area-6"] {
        right: 17%;
        top: 36%;

        &::before {
          bottom: 21px;
          left: -143px;
          transform: rotate(10deg);
          width: 136px;
        }
      }

      &[data-id="area-6d"] {
        left: 0;
        top: 28%;

        &::before {
          bottom: 7px;
          left: 25px;
          transform: rotate(0deg);
          width: 120px;
        }
      }

      &[data-id="area-6e"] {
        right: 2%;
        top: 36%;

        &::before {
          bottom: 21px;
          left: -143px;
          transform: rotate(10deg);
          width: 136px;
        }
      }

      &[data-id="area-6f"] {
        right: 5%;
        top: 11%;

        &::before {
          bottom: -20px;
          left: -114px;
          transform: rotate(-24deg);
          width: 113px;
        }
      }

      &[data-id="area-7"] {
        left: 48%;
        top: 0;

        &::before {
          bottom: -28px;
          left: -12px;
          transform: rotate(90deg);
          width: 40px;
        }
      }

      &[data-id="area-9"] {
        left: 0;
        top: 37%;

        &::before {
          bottom: 8px;
          left: 23px;
          transform: rotate(0deg);
          width: 91px;
        }
      }
    }
  }

  &.front {
    .info-item {
      &[data-id="area-5"] {
        left: 45%;
        top: 2%;

        &::before {
          bottom: 0;
          left: -55px;
          transform: rotate(-10deg);
          width: 49px;
        }

        &::after {
          background: #fff;
          bottom: 0;
          content: "";
          height: 1px;
          left: 21px;
          position: absolute;
          transform: rotate(10deg);
          width: 49px;
        }
      }

      &[data-id="area-7"] {
        left: 1%;
        top: 11%;

        &::before {
          bottom: 7px;
          left: 23px;
          transform: rotate(0deg);
          width: 50px;
        }
      }

      &[data-id="area-10"] {
        left: 0;
        top: 60%;

        &::before {
          bottom: 8px;
          left: 23px;
          transform: rotate(0deg);
          width: 60px;
        }
      }

      &[data-id="area-11"] {
        left: 0;
        top: 41%;

        &::before {
          bottom: 7px;
          left: 25px;
          transform: rotate(0deg);
          width: 65px;
        }
      }

      &[data-id="area-12"] {
        right: 0;
        top: 23%;

        &::before {
          bottom: 6px;
          left: -84px;
          transform: rotate(0deg);
          width: 77px;
        }
      }

      &[data-id="area-13"] {
        right: 2%;
        top: 11%;

        &::before {
          bottom: -28px;
          left: -149px;
          transform: rotate(-24deg);
          width: 151px;
        }
      }

      &[data-id="area-14"] {
        right: 9%;
        top: 31%;

        &::before {
          bottom: 6px;
          left: -84px;
          transform: rotate(0deg);
          width: 77px;
        }
      }

      &[data-id="area-17"] {
        right: 4%;
        top: 6%;

        &::before {
          bottom: 7px;
          left: -75px;
          transform: rotate(0deg);
          width: 68px;
        }
      }
    }
  }

  &.side {
    .info-item {
      &[data-id="area-4"] {
        left: 0;
        top: 60%;

        &::before {
          bottom: 8px;
          left: 23px;
          transform: rotate(0deg);
          width: 60px;
        }
      }

      &[data-id="area-5"] {
        left: 18%;
        top: 30%;

        &::before {
          bottom: 7px;
          left: 25px;
          transform: rotate(0deg);
          width: 65px;
        }
      }
    }
  }
}
